<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginForm</title>
    <link rel="stylesheet" href="/css/loginstyles.css">

</head>
<body>
    <!-- <h1>WELCOME TO THE STUDENT PORTAL</h1> -->

    <h1 id="myheader" >Login</h1>
   
     <form action="/view/loginForm" method="post">
            <label for="username">UserName</label>
            <input type="text" id="name"  name="name" required autocomplete="new-name"><br>
           
            <label for="password">Password</label>
            <input type="password" id="password"  name="password" required autocomplete="new-password"><br>
     
     
    <button type="submit">Submit </button>
</form>
<div th:if="${error}" style="color: red;">
        <p th:text="${error}"></p>
    </div>
  
</body>
</html>